[Unit]
Description=kc-client

[Service]
Type=simple
ExecStart=/usr/bin/sh /root/kc-client.sh
PrivateTmp=true

[Install]
WantedBy=multi-user.target
